/*.thing-form {
  margin: 20px 0;
}

#banner {
  border-bottom: none;
  margin-top: -20px;
}*/
.navbar{
  margin-bottom: 0px;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

#banner img {
<<<<<<< HEAD
  width: 1000px;
  height: 550px;
=======
  width: 700px;
>>>>>>> 41af9b426a8c5c498bdf51e6b55889d3c1f81c77
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #4393B9;
}

.navbar-text {
  margin-left: 15px;
}
