
<div class="container">
	<div>This is the chat view.</div>

	<!-- <p>{{$ctrl.user}}</p> -->
	<p>{{$ctrl.roomName}}</p>

	<!-- <p>{{$ctrl.getnickName()}}</p>
	<p>{{$ctrl.receiveMess}}</p> -->
	<div class="row" ng-show="$ctrl.user.name">
		<div class="col-md-8">

		<video id="video-conf" autoplay ></video>

			<div id="errorMsg"></div>
		</div>
	    <div class="col-md-4">
	      <!-- <h1 class="page-header">Features:</h1> -->
	      <div id="message_list">
	      	<ul style="list-style-type:none" ng-repeat="message in $ctrl.receiveMess">
	        <li>
	        	<p  ng-if="message.email === $ctrl.user.email" id="sendMess" uib-tooltip="{{message.info}}">{{message.mess}}</p>
	        	<p  ng-if="message.email !== $ctrl.user.email" id="recMess" uib-tooltip="{{message.info}}">{{message.user_name}}: {{message.mess}}</p>
	        </li>
	      </ul>
	      </div>
	      <form class="message-form">
		    <label>Syncs in realtime across clients</label>
		    <p class="input-group">
		      <input type="text" class="form-control" placeholder="Write a new message here." ng-model="$ctrl.newMessage">
		      <span class="input-group-btn">
		        <button type="submit" class="btn btn-primary" ng-click="$ctrl.addMessage()">SEND</button>
		      </span>
		    </p>
		  </form>
	    </div>
  	</div>

  	<div class="row" ng-show="!$ctrl.user.name">
  		<div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
  			<form role="form" ng-submit="$ctrl.join()">
  			<legend>Form title</legend>
  		
  			<div class="form-group">
  				<label for="">label</label>
  				<input type="text" ng-model="$ctrl.nickname" class="form-control" id="" placeholder="Input field">
  			</div>
  		
  			
  		
  			<button type="submit" class="btn btn-primary">Submit</button>
  		</form>
  		</div>
  		
  	</div>

</div>