
<div class="container">
	<div class="row" ng-show="$ctrl.user.name">
		<div class="col-md-8">
			<!--
			<video id="remote" autoplay></video>
			<video id="local" autoplay ></video> -->

			<div id="remote"></div>
			<div id="local"></div>

			<div id="errorMsg">{{error}}</div>
		</div>
		<br>
		<div class="col-md-4">
			<form role="form">
				<div class="chat">
					<div class="chat-title">
					</div>
					<div class="messages" id="message_list">
						<div class="messages-content">
							<ul style="list-style-type:none" ng-repeat="message in $ctrl.receiveMess">
								<li>
									<p  ng-if="message.email === $ctrl.user.email" id="sendMess" uib-tooltip="{{message.info}}" ng-bind-html="message.mess | smilies"></p>
									<p  ng-if="message.email !== $ctrl.user.email" id="recMess" uib-tooltip="{{message.info}}" ng-bind-html="(message.user_name + ': ' + message.mess) | smilies"></p>
								</li>
							</ul>
						</div>
					</div>
					<div class="message-box">
						<input type="text" class="message-input" placeholder="Nhập tin nhắn..." ng-model="$ctrl.newMessage" focus-on-change="$ctrl.newMessage">
						<button type="submit" class="message-submit" ng-click="$ctrl.addMessage()">Gửi</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<br>
</div>

</div class="container">


<div class="row" ng-show="!$ctrl.user.name">
	<div class="col-md-2">

	</div>
	<div class="col-md-8">
		<form role="form" ng-submit="$ctrl.join()">
			<br>
			<h2 class="h2text">Tên hoặc nickname của bạn</h2>
			<br>
			<div class="form-group input-group">


				<input type="text" ng-model="$ctrl.nickname" class="form-control" id="" placeholder="Tên hoặc nickname của bạn">
				<span class="input-group-btn">
					<button type="submit" class="btn btn-primary"><span class="ti-arrow-right"></span></button>
				</span>
			</div>

			<div class="jumbotron">
				<div class="container">
					<p>Vui lòng nhập tên hoặc nickname của bạn để dễ dang liên lạc với bạn bè.</p>
				</div>
			</div>
		</form>

	</div>

</div>
</div>
