.message-form {
  margin: 20px 0;
}

#sendMess{
	text-align:right;
	color: blue;
}
#recMess{
	text-align: left;
	color: gray;
}
#message_list{
	min-height: 400px;
	overflow-y: auto;
  pading-top: 50px;
  background-color: white;
}

video#local {
  border: 2px solid #DDD;
  width: 150px;
  height: 150px;
}
