
<div class="container">
	<div>This is the chat view.</div>
	<!--<div id='content'>
		<div id='room'></div>
		<div id='room-list'></div> 
		<div id='messages'></div>

		<form id='send-form'>
			<input id='send-message'></input>
			<input id='send-button' type='submit' value='Send'></input>

			<div id='help'>
				Chat commands:
				<ul>
					<li>Change nickname: <code>/nick [username]</code></li>
					<li>Join/create room: <code>/join [room name]</code></li>
				</ul>
			</div>
		</form>
	</div>-->

	<p>{{$ctrl.user}}</p>
	<p>{{$ctrl.roomName}}</p>
	<!-- <p>{{$ctrl.getnickName()}}</p>
	<p>{{$ctrl.receiveMess}}</p> -->
	<div class="row">
		<div class="col-md-8"></div>
	    <div class="col-md-4">
	      <!-- <h1 class="page-header">Features:</h1> -->
	      <div id="message_list">
	      	<ul style="list-style-type:none" ng-repeat="message in $ctrl.receiveMess">
	        <li>
	        	<p  ng-if="message.email === $ctrl.user.email" id="sendMess" uib-tooltip="{{message.info}}">{{$ctrl.user.name}}: {{message.mess}}</p>
	        	<p  ng-if="message.email !== $ctrl.user.email" id="recMess" uib-tooltip="{{message.info}}">{{message.user_name}}: {{message.mess}}</p>
	        </li>
	      </ul>
	      </div>
	      <form class="message-form">
		    <label>Syncs in realtime across clients</label>
		    <p class="input-group">
		      <input type="text" class="form-control" placeholder="Write a new message here." ng-model="$ctrl.newMessage">
		      <span class="input-group-btn">
		        <button type="submit" class="btn btn-primary" ng-click="$ctrl.addMessage()">SEND</button>
		      </span>
		    </p>
		     <!-- <input type="text" class="form-control" placeholder="Write a your nickname here." ng-model="$ctrl.nickName"> -->
		  </form>
	    </div>
  	</div>

  <script type="text/javascript">
  //auto scroll bot
  	var myScroll = window.setInterval(function() {
	  var elem = document.getElementById('message_list');
	  elem.scrollTop = elem.scrollHeight;}, 0);
// kiem tra dieu kien scroll
    var x = 0;
    $("#message_list").scroll(function(){
      x += 1;
    });
    if (x !== 0) {
        clearInterval(myScroll);
        var temp = x;
        if (x === temp){
          x = 0;
        }
    }
  </script>

</div>