
<div class="container">

<div class="row">

<div>

<div class="col-md-2">

</div>
<div class="col-md-8">
<br>

<h2 for="">Tạo phòng chat và mời bạn bè của bạn!</h2>
<br>
	<div class="form-group input-group">

		<span class="input-group-addon" id="basic-addon3">https://lowf.me/chat/</span>
		<input id="input-create-room" type="text" class="form-control ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched" id="form-createroom" ng-model="$ctrl.room_name" placeholder=""></input>
		<span class="input-group-btn">
		<button id="button-create-room" type="submit" class="btn btn-primary" ng-click="$ctrl.createRoom()"><span class="ti-arrow-right"></span></button>
		</span>
	</div>
	<br>
	<div class="jumbotron">
		<div class="container">
			<p>Trò chuyện và gọi video miễn phí chưa bao giờ dễ hơn</p>
			<p>Không cần tài khoản - không cần cài đặt phần mềm</p>
		</div>
	</div>

</div>
</div>
<div class="col-md -2">

</div>



</div>
</div>
